.scrollbar-custom {
  overflow-y: scroll;
  overflow-x: hidden;
}

.scrollbar-custom::-webkit-scrollbar {
  width: 2px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background: #888;
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background: #555;
}
